


  <h2 style="text-align:center">OFFICERS</h2>

  <div class="bs-example">
    <div class="list-group">
        <ul class="off">
            <li style=" list-style-type: none; " *ngFor="let elt of officers">
              <div class="jumbotron col-sm-5" style="margin-left:10px; background-color:white">
                <h3>Name :<span style="color:blue; margin-left:2px;">{{elt.name}}</span></h3>
                <h3>District :<span style="color:blue; margin-left:2px;">{{elt.district}}</span></h3>
                <h3>Date Of Joining :<span style="color:blue; margin-left:2px;">{{elt.doj}}</span></h3>
                <h3>Retiring Date : :<span style="color:blue; margin-left:2px;">{{elt.rtd}}</span></h3>
              </div>
            </li>
        </ul>
    </div>
  </div>
  
  