<div class="jumbotron bs-example" style="background-color:antiquewhite">
    <form class="form-horizontal" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
        <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">ID</label>
            <div class="col-xs-10">
                <input type="email" class="form-control" #nameRef="ngModel" ngModel placeholder="ID" required>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="control-label col-xs-2">NAME</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" #nameRef="ngModel" ngModel placeholder="NAME" required>
            </div>
        </div>
        <div class="form-group">
            <label for="schemes" class="control-label col-xs-2">DISTRICT</label>
            <div class="col-xs-10">
                    <select class="form-control">
                            <option value="one">One</option>
                            <option value="two">Two</option>
                            <option value="three">Three</option>
                            <option value="four">Four</option>
                            <option value="five">Five</option>
                     </select>
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="control-label col-xs-2">DATE OF JOINING</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" #nameRef="ngModel" ngModel placeholder="DATE" required>
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="control-label col-xs-2">STATUS</label>
            <div class="radio">
                <label class="control-label col-xs-2"><input type="radio" name="optradio">Retired</label>    
                <label class="control-label col-xs-2"><input type="radio" name="optradio">Not-Retired</label>
            </div>
         </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button  class="btn btn-primary">ADD OFFICER</button>
            </div>
        </div>
    </form>
</div>

